* {
  color: #4b4b4b;
  font-family: "Roboto"; }

h1 {
  font-weight: 300;
  margin-left: 20px; }

.flex {
  display: flex; }

.ico-genero.female {
  background: url(../images/female.svg); }

.ico-genero.male {
  background: url(../images/male.svg); }

.ico-delete {
  background: url(../images/delete.svg); }

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  transition-delay: 9999s;
  transition-property: background-color, color; }

header {
  width: 100%;
  height: 60px;
  background-color: #d73049;
  box-shadow: 0px 0px 6px -2px rgba(0, 0, 0, 0.2); }
  header nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%; }
    header nav a {
      padding: 0px 14px 0px 14px;
      color: #eeeeee;
      text-decoration: none;
      font-size: 16px;
      line-height: 60px;
      font-weight: 300;
      transition: background 0.5s cubic-bezier(0, 0, 0.09, 0.87); }
      header nav a:hover {
        background-color: #fafafa;
        color: #4b4b4b; }

#deportistas-container {
  display: flex;
  padding: 20px;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap; }
  #deportistas-container .deportista {
    width: 200px;
    min-height: 350px;
    height: 380px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    align-items: flex-start;
    padding: 10px;
    padding-top: 6px;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 0px 6px -2px rgba(234, 174, 155, 0.64);
    transition: all 0.5s cubic-bezier(0, 0, 0.09, 0.87); }
    #deportistas-container .deportista .btn-delete {
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 30px;
      color: #808080;
      opacity: 0.4;
      transition: all 0.5s cubic-bezier(0, 0, 0.09, 0.87); }
      #deportistas-container .deportista .btn-delete:hover {
        opacity: 1; }
      #deportistas-container .deportista .btn-delete .ico-delete {
        height: 15px;
        width: 15px;
        background-position: center;
        background-size: cover;
        opacity: 0.7; }
    #deportistas-container .deportista:nth-child(2) .deportista-img {
      background-image: url("../images/jake.png") !important; }
    #deportistas-container .deportista .deportista-img {
      width: 100%;
      height: 200px;
      background-image: url("../images/deportista.jpg");
      background-position: center !important;
      background-size: cover !important; }
    #deportistas-container .deportista .flex.genero-container {
      align-items: center; }
    #deportistas-container .deportista .ico-genero {
      height: 15px;
      width: 15px;
      margin-left: 4px;
      background-position: center;
      background-size: cover; }

#cabecera {
  align-items: center;
  justify-content: space-between;
  padding-right: 30px; }
  #cabecera .btn-delete {
    width: auto;
    height: 20px;
    align-items: center;
    cursor: pointer;
    padding: 6px;
    background-color: white;
    border-radius: 2px;
    opacity: 0.7;
    transition: all 0.5s cubic-bezier(0, 0, 0.09, 0.87); }
    #cabecera .btn-delete:hover {
      box-shadow: 0px 0px 6px -2px rgba(68, 68, 68, 0.64);
      background-color: #f75050; }
      #cabecera .btn-delete:hover span {
        color: white !important;
        margin-left: -6px; }
      #cabecera .btn-delete:hover .ico-delete {
        width: 0 !important;
        height: 0 !important; }
    #cabecera .btn-delete:hover span, #cabecera .btn-delete:hover a {
      font-size: 15px; }
    #cabecera .btn-delete span, #cabecera .btn-delete a {
      transition: all 0.5s cubic-bezier(0.42, 0, 0, 1.68); }
    #cabecera .btn-delete:hover .ico-delete {
      width: 10px;
      height: 10px; }
    #cabecera .btn-delete .ico-delete {
      width: 12px;
      height: 12px;
      margin: 4px;
      transition: all 0.5s cubic-bezier(0.42, 0, 0, 1.68); }
  #cabecera .btn-save {
    width: auto;
    height: 20px;
    align-items: center;
    cursor: pointer;
    padding: 6px;
    background-color: white;
    border-radius: 2px;
    opacity: 0.7;
    transition: all 0.5s cubic-bezier(0, 0, 0.09, 0.87);
    margin-right: 8px; }
    #cabecera .btn-save:hover {
      box-shadow: 0px 0px 6px -2px rgba(68, 68, 68, 0.64); }
    #cabecera .btn-save:hover span, #cabecera .btn-save:hover a {
      font-size: 15px; }
    #cabecera .btn-save span, #cabecera .btn-save a {
      transition: all 0.5s cubic-bezier(0.42, 0, 0, 1.68); }
    #cabecera .btn-save:hover .ico-save {
      width: 10px;
      height: 10px; }
    #cabecera .btn-save .ico-save {
      width: 12px;
      height: 12px;
      margin: 4px;
      transition: all 0.5s cubic-bezier(0.42, 0, 0, 1.68); }
    #cabecera .btn-save:hover span {
      color: #3386d7; }
  #cabecera .btn-discard {
    width: auto;
    height: 20px;
    align-items: center;
    cursor: pointer;
    padding: 6px;
    background-color: white;
    border-radius: 2px;
    opacity: 0.7;
    transition: all 0.5s cubic-bezier(0, 0, 0.09, 0.87);
    margin-right: 8px; }
    #cabecera .btn-discard:hover {
      box-shadow: 0px 0px 6px -2px rgba(68, 68, 68, 0.64); }
    #cabecera .btn-discard:hover span, #cabecera .btn-discard:hover a {
      font-size: 15px; }
    #cabecera .btn-discard span, #cabecera .btn-discard a {
      transition: all 0.5s cubic-bezier(0.42, 0, 0, 1.68); }
    #cabecera .btn-discard:hover .ico-discard {
      width: 10px;
      height: 10px; }
    #cabecera .btn-discard .ico-discard {
      width: 12px;
      height: 12px;
      margin: 4px;
      transition: all 0.5s cubic-bezier(0.42, 0, 0, 1.68); }
    #cabecera .btn-discard a {
      text-decoration: none !important;
      font-size: 16px; }
    #cabecera .btn-discard:hover a {
      color: #ee8f51; }

#perfil {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  padding: 20px;
  max-width: 800px; }
  #perfil #perfil-img {
    width: 150px;
    height: 180px;
    background-image: url(../images/deportista.jpg);
    background-position: center;
    background-size: cover; }
  #perfil #info {
    display: flex;
    flex-direction: column; }
    #perfil #info .form-control {
      display: flex;
      align-items: center;
      padding: 10px;
      width: 440px;
      justify-content: space-between;
      font-weight: 300; }
      #perfil #info .form-control:first-child {
        padding-top: 0; }
      #perfil #info .form-control input {
        height: 30px;
        min-width: 240px;
        padding: 6px;
        font-size: 18px;
        font-weight: 300;
        border: 1px solid rgba(0, 0, 0, 0.2);
        outline: none; }

body {
  padding: 0;
  margin: 0;
  background-color: #fafafa; }

/*# sourceMappingURL=main.css.map */
