﻿$negro: #4b4b4b;
$blanco: #eeeeee;
@mixin btn-perfil($tipo){
    width: auto;
    height: 20px;
    align-items: center;
    cursor: pointer;
    padding: 6px;
    background-color: white;
    border-radius: 2px;
    opacity: 0.7;
    transition: all .5s cubic-bezier(0,0,0.09,0.87);
    &:hover{
        box-shadow: 0px 0px 6px -2px rgba(68, 68, 68, 0.64);
        @if $tipo == "delete" {
            background-color: #f75050;
            span{
                color: white !important;
                margin-left: -6px;
            }
            .ico-delete{
                width: 0 !important;
                height: 0 !important;
            }
        }
    }
    &:hover span, &:hover a{
        font-size: 15px;
    }
    span, a{
        transition: all .5s cubic-bezier(0.42, 0, 0, 1.68);
    }
    &:hover .ico-#{$tipo}{
        width: 10px;
        height: 10px;
    }
    .ico-#{$tipo}{
        width: 12px;
        height: 12px;
        margin: 4px;
        transition: all .5s cubic-bezier(0.42, 0, 0, 1.68);
    }
}
*{
    color: $negro;
    font-family: "Roboto"
}
h1{
   font-weight: 300;
   margin-left: 20px;
}
.flex{
    display: flex;
}
.ico-genero.female{
    background: url(../images/female.svg);
}
.ico-genero.male{
    background: url(../images/male.svg);
}
.ico-delete{
    background: url(../images/delete.svg);
}
input:-webkit-autofill{
  &,
  &:hover,
  &:focus,
  &:active{
    transition-delay: 9999s;
    transition-property: background-color, color;
  }
}
header{
    width: 100%;
    height: 60px;
    background-color: #d73049;
    box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.2);
    nav{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
        a{
            padding: 0px 14px 0px 14px;
            color: $blanco;
            text-decoration: none;
            font-size: 16px;
            line-height: 60px;
            font-weight: 300;
            transition: background .5s cubic-bezier(0,0,0.09,0.87);
            &:hover{
                background-color: #fafafa;
                color: $negro;
            }
        }
    }
}
#deportistas-container{
    display: flex;
    padding: 20px;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    .deportista{
        width: 200px;
        min-height: 350px;
        height: 380px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: white;
        align-items: flex-start;
        padding: 10px;
        padding-top: 6px;
        cursor: pointer;
        border-radius: 6px;
		box-shadow: 0px 0px 6px -2px rgba(234, 174, 155, 0.64);
        transition: all .5s cubic-bezier(0,0,0.09,0.87);
        .btn-delete{
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 30px;
            color: #808080;
            opacity: 0.4;
            transition: all .5s cubic-bezier(0,0,0.09,0.87);
            &:hover{
                opacity: 1;
            }
            .ico-delete{
                height: 15px;
                width: 15px;
                background-position: center;
                background-size: cover;
                opacity: 0.7;
            }
        }
        &:nth-child(2){
            .deportista-img{
                background-image: url("../images/jake.png") !important;
            }
        }
        .deportista-img{
            width: 100%;
            height: 200px;
            background-image: url("../images/deportista.jpg");
            background-position: center !important;
            background-size: cover !important;
        }
        .flex.genero-container{
            align-items: center;
        }
        .ico-genero{
            height: 15px;
            width: 15px;
            margin-left: 4px;
            background-position: center;
            background-size: cover;
        }
        
    }
}
#cabecera{
    align-items: center;
    justify-content: space-between;
    padding-right: 30px;
    .btn-delete{
        @include btn-perfil("delete");
    }
    .btn-save{
        @include btn-perfil("save");
        &:hover span{
            color: #3386d7;
        }
        margin-right: 8px;
    }
    .btn-discard{
        @include btn-perfil("discard");
        a{
            text-decoration: none !important; 
            font-size: 16px;
        }
        &:hover a{
            color: #ee8f51;
        }
        margin-right: 8px;
    }
}
#perfil{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding: 20px;
    max-width: 800px;
    #perfil-img{
        width: 150px;
        height: 180px;
        background-image: url(../images/deportista.jpg);
        background-position: center;
        background-size: cover;
    }
    #info{
        display: flex;
        flex-direction: column;
        .form-control{
            display: flex;
            align-items: center;
            padding: 10px;
            width: 440px;
            justify-content: space-between;
            font-weight: 300;
            &:first-child{
                padding-top: 0;
            }
            input{
                height: 30px;
                min-width: 240px;
                padding: 6px;
                font-size: 18px;
                font-weight: 300;
                border: 1px solid rgba(0,0,0,0.2);
                outline: none;
            }
        }
    }
}
body {
    padding: 0;
    margin: 0;
    background-color: #fafafa;
   
}
 